@import 'font-awesome';
@import 'color';

.body{
  padding: 6% 0 0 10%;
  width: 90%;
}

.filter-button{
  width: 35px;
  height: 20px;
  border-radius: 3px;
  background: $blue;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
  box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
  &:hover{
  box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
  }
}

.form-3{
  select{
    padding: 0 10%;
  }
}
.form-label{
  font-weight: 700;
}


#select-btn{
  margin: 2.5% 2% 1% -1%;
}

#filter-form{
  margin-left: 1%;
  margin-top: 1%;
}

.course_price{
  a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: $blue;
  }
}

.paginator{
  padding-top: 2%;
}

h2.headertekst {
  text-align: center;
  color: $orange;
}
