<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .border-result{
        padding-bottom: 0px;
        border-bottom: 2px solid green;
      }
      .lesson-result{
        color: red;
      }
      .word-answers{
        box-shadow: 0 1px 20px rgba(3, 7, 146, 0.1);
      }
      .word-space{
        margin-top: 4%;
        margin-left: 2%;
      }
      .list-answers{
        margin: 2% 0% 5% 4%;
        font-size: 20px;
      }
      .correct-answer{
        background-color: green;
        color: white;
      }

      .incorrect-answer{
        background-color: red;
        color: white;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
